<div class="rankedStats">
  <h3>{{ranked.name}}</h3>
  <img src="/tier_icons/{{ranked.tier}}_{{ranked.division}}.png" width="200"/>
  <h2>{{ranked.tier}} {{ranked.division}} | {{ranked.leaguePoints}} points</h2>
</div>
