<div class="kills">
  <h4>Kills</h4>
  <p>Average: <span>{{kills.avg}}</span></p>
  <p>Most: <span>{{kills.most}}</span></p>
  <p>Least: <span>{{kills.least}}</span></p>
</div>

<div class="assists">
  <h4>Assists</h4>
  <p>Average: <span>{{assists.avg}}</span></p>
  <p>Most: <span>{{assists.most}}</span></p>
  <p>Least: <span>{{assists.least}}</span></p>
</div>

<div class="deaths">
  <h4>Deaths</h4>
  <p>Average: <span>{{deaths.avg}}</span></p>
  <p>Most: <span>{{deaths.most}}</span></p>
  <p>Least: <span>{{deaths.least}}</span></p>
</div>

<div class="cs">
  <h4>CS</h4>
  <p>Average: <span>{{cs.avg}}</span></p>
  <p>Most: <span>{{cs.most}}</span></p>
  <p>Least: <span>{{cs.least}}</span></p>
</div>

<div class="timePlayed">
  <h4>Time Played</h4>
  <p>Average: <span>{{timePlayed.avg}}</span></p>
  <p>Most: <span>{{timePlayed.most}}</span></p>
  <p>Least: <span>{{timePlayed.least}}</span></p>
</div>
